


<button mat-raised-button (click)="AddClick()" class="gap" color="primary">Add Products</button>
<button mat-raised-button (click)="AddClick()" [routerLink]="['/RegionalProducts']"  class="gap" color="primary">Regional Product </button>

<div class="example-container" *ngIf="show">

  <mat-form-field>
      <mat-select placeholder="Meals type" (selectionChange)="ddlCategoryChange($event.value)" >
          <mat-option *ngFor="let item of objCategory" [value]="item.categoryId">
            {{item.categoryName}}
          </mat-option>
        </mat-select>
  </mat-form-field>


  <mat-form-field>
      <mat-select placeholder="Favorite food" (selectionChange)="ddlSubCategoryChange($event.value)">
        <mat-option *ngFor="let item of objSubcategory" [value]="item.SubCategoryId">
          {{item.SubCategoryName}}
        </mat-option>
      </mat-select>
  </mat-form-field>
 

 
      <div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
              <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>
              <ng-container matColumnDef="ProductID">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductID </th>
                   <td mat-cell *matCellDef="let item"> {{item.ProductID}} </td> 
                </ng-container>
          
          
                <ng-container matColumnDef="ProductName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductName </th>
                  <td mat-cell *matCellDef="let item"> {{item.ProductName}} </td>
                </ng-container>
          
          
                <ng-container matColumnDef="ProductPrice">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductPrice </th>
                    <td mat-cell *matCellDef="let item"> {{item.ProductPrice}} </td>
                  </ng-container>
          
                  <ng-container matColumnDef="ProductCartDesc">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductCartDesc </th>
                      <td mat-cell *matCellDef="let item"> {{item.ProductCartDesc}} </td>
                    </ng-container>
          
          
                    <ng-container matColumnDef="ProductShortDesc">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductShortDesc </th>
                        <td mat-cell *matCellDef="let item"> {{item.ProductShortDesc}} </td>
                      </ng-container>
          
                      <ng-container matColumnDef="ProductThumb">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductThumb </th>
                          <td mat-cell *matCellDef="let item"> {{item.ProductThumb}} </td>
                        </ng-container>
          
                        <ng-container matColumnDef="ProductVendor">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ProductVendor </th>
                            <td mat-cell *matCellDef="let item"> {{ item.ProductVendor }} </td>
                          </ng-container>
              
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
          
             </table>
             <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div> 
</div>


 

  <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->



