<!-- <mat-input-container>
    <input type="text" mdInput placeholder="UserName">
</md-input-container> -->


    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>

    <span class="fill-remaining-space"></span>
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>




<!-- 

<mat-checkbox #showDetails 
   [value]=""
   [checked]= "isChecked"
   (change)="onChanged($event)"


>  Check me!</mat-checkbox>

<div *ngIf="showDetails.checked">some details....</div>


<mat-form-field>
    <mat-select [(ngModel="Favfood")] placeholder="Favorite food">
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{ food.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span class="fill-remaining-space"></span>

  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Favorite food" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form>

   -->